.button-wrapper{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgb(90, 90, 90);
    color: white;
    flex: 1;
    border: 0.5px solid #f0f8ff;
    
    margin: 4px;
    border-radius: 16px;
    box-shadow: 2px 2px gray;
}