.input-wrapper{
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}
.result{
    flex:1;
    font-size: 24px;
    margin: 0.5rem;
    text-align: end;
    padding:0.5rem;
    width:92%;
    background-color: rgb(247, 215, 74);
}
.text{
    flex:1;
    font-size: 18px;
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
    text-align: end;
    padding:0.5rem;
    width:92%;
    background-color: rgb(238, 222, 200);
}