.input-wrapper{
    height: 8em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 1rem;
}
.result{
    flex:1;
    font-size: 24px;
    margin: 0.5rem;
    text-align: end;
    padding:0.5rem;
    width:90%;
}
.text{
    flex:1;
    font-size: 18px;
    margin: 0.5rem;
    text-align: end;
    padding:0.5rem;
    width:90%;
}