body {
  background-color: black;
  
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row{
  display: flex;
}

@media screen and (max-width: 576px){
 
  .calc-wrapper{
    overflow-y: scroll;
    height: 50vh;
    width: 100vw;
    
  }
  .App{
    position: absolute;
    top: 25vh;
  }
}